



body{
    width: 60%;
    height: 100%;
    margin: auto;

}

h1{
    text-align: center;
      font-weight: bold;
     
  }


.container{
    border: 2px black solid ;
    width: 100%;
    height: 500px;
    
   
}
    .counterBox{
        border:  rgba(107, 105, 105, 0.305) solid;
        height: 16%;
        width: 20%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8%;
        margin-top: 15%;


        

    }
        p{
            text-align: center;
            padding-left: 10%;
            padding-right:10% ;  
            padding-bottom:10% ; 
            padding-top:10% ;
        }
    .buttons{
        width: 100%;
             
        display: flex;
        justify-content: space-around;
       

       

    }
        .plusbutton button {
            background-color:rgb(74, 205, 235);
            border: 1px ;
            border-radius: 8px;
            color: aliceblue;
            height: 75px;
            width: 150px;
            font-size: xx-large;
        }
        
           
        .minusbutton button {
            background-color: yellow;
            border: 1px ;
            border-radius: 8px;
            color: black;
            height:75px;
            width: 150px;
            font-size: xx-large;
        }
            


      
